{% extends 'base.html' %}

{% block contain %}

    <main id="main" class="main">
        {% if num == '0' %}
            <div class="container-fluid">
                {% if messages %}
                    {% for mes in messages %}
                        <div class="alert-danger text-danger" id="msg" role="alert"></div>
                        <script>
                          const mytimes = setTimeout(function(){
                            document.getElementById("msg").innerHTML = '{{mes}}'
                          });
                        </script>
                    {% endfor %}
                {% endif %}
                <h1 style="color: blue;">Scan Items through your device</h1>
                <label style="height: 85vh; width: 76vw;" for="barcodeInput"><label>
                <form action="" method="POST" id="myForm">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="rm_data1" />
                    <input style="width: 0vw; height: 0vh; float: inline-end;" name="barcodeInput" id="barcodeInput" type="text" autofocus></input>
                </form>
                <div class="img-cont" style="display: flex; width: 76vw; height: 76vh; text-align: center; justify-content: center; align-items: center;">
                    <div class="tex " style="width: 10vw; height: 14vh; border-radius: 20%; " name="scanButton" id="scan" autofocus>
                        <i class="bi bi-qr-code-scan" style="font-size: 55px; color: blue;"></i>
                    </div>
                </div>
            </div>
        {% elif num == '1' %}
            <div class="container1" id="container1" style="display: block;">
                <div class="row" style="display: flex; justify-content: center; align-items: center; width: 70vw; height: 70vh;">
                        <div class="col-7">                
                             <img src="../assets/img/{{barcode_doc.image}}"  class="img-fluid max-width: 100%; height: auto; " style="height: 60vh;" alt="Responsive image">
                        </div>
                        <div class="col-5">
                            <div class="section" style="width: 36vw; height: 50vh; margin-top: 20px;">
                                <div class="card-body">
                                  <h1 class="card-text mb-5">{{barcode_doc.product_name}}</h1>
                                  <h2 class="card-text mb-2">Quantity : {{barcode_doc.left_quantity}}</h2>
                                  <h2 class="card-text mb-2">Price : {{barcode_doc.selling_price}}</h2>
                                  <h2 class="card-text mb-2">Expiry Date : {{barcode_doc.expiry_date}}</h2>
                                  <input id="number245" value="{{num}}" type="hidden" />
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="container2" id="container2" style="display: none;">
                <label style="height: 85vh; width: 76vw;" for="barcodeInput1"><label>
                <form action="" method="POST" id="myForm">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="rm_data1" />
                    <input style="width: 0vw; height: 0vh; float: inline-end;" name="barcodeInput" id="barcodeInput1" type="text" autofocus></input>
                </form>
                <table class="table table border border-info" style="width: 76vw;">
                    <thead>
                      <tr class="head">
                        <th scope="col">Preview</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Expiry Date</th>
                        <th scope="col">Cost Price</th>
                        <th scope="col">Selling Price</th>
                        <th scope="col">Actions</th>
                      </tr>
                    </thead>
                    <tbody>
                        <input type="hidden" id="sp" value="{{barcode_data}}" />
                        {% for products in barcode_data %}
                            <tr>
                              <th scope="row"><img src="../assets/img/{{products.image}}" style="height: 7vh; width: 4vw;"></th>
                              <td>{{products.product_name}}</td>
                              <td>{{products.left_quantity}}</td>
                              <td>{{products.expiry_date}}</td>
                              <td>₹ {{products.cost_price}}</td>
                              <td>₹ {{products.selling_price}}</td>
                              <td>
                                <form action="" method="POST" id="myForm">
                                    {% csrf_token %}
                                    <input type="hidden" name="form_type" value="delete_data" />
                                    <input type="hidden" name="deleted_product" value="{{products.barcode}}" />
                                    <a href="/delete/?q={{x.task_id}}">
                                        <button type="submit" style="padding: 9px 15px 9px 15px; border-radius: 10px; color: white; background-color: blue; border: 0px solid black;">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                            </svg>
                                        </button>
                                    </a>
                                </form>
                              </td>
                            </tr>
                        {% endfor %}
                            <tr style="height: 7vh; width: 4vw; font-size: 25px;">
                              <th scope="row">Total : </th>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td>₹ {{totalMoney}}</td>
                              <td></td>
                            </tr>
                        
                    </tbody>
                </table>
                <form action="" method="POST" id="myForm">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="rm_data2" />

                    <div class="btn-di d-none d-md-block ps-2 float-end" style="margin-right: 40px;">
                        <button type="submit" class="btn btn-primary" style="cursor: pointer; font-size: 25px; border-radius: 10px; border: 2px solid darkblue; padding: 10px 17px 10px 17px;">Submit</button>
                    </div>
                </form>
                
            </div>
        {% elif num == '2' %}
            <div class="container3" id="container3">
                <h1 style="color: blue;">Input Customer Amount</h1>
                <input type="text" onchange="customerMoney()" id="Customer_Money" autofocus/>
                <input type="hidden" id="quantity_totalPrice" value="{{scanned_quantity_totalPrice}}"/>
                <table class="table table border border-info" style="width: 76vw;">
                    <thead>
                      <tr class="head">
                        <th scope="col">Products Name</th>
                        <th scope="col">Items</th>
                        <th scope="col">Total</th>
                      </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" style="width: 20vw;">
                                {% for products in barcode_product_name %}
                                    {{products}},
                                {% endfor %}
                            </th>
                            <td>{{scanned_quantity}}</td>
                            <td>₹ {{scanned_quantity_totalPrice}}</td>
                        </tr>
                    </tbody>
                </table>
                <h1>Amount : <span id="price_left"></span></h1>
                
                <div class="btn-di d-none d-md-block ps-2 float-end" style="margin-right: 40px;">
                    <a href="/barcode/"><button class="btn btn-primary" style="font-size: 25px; border-radius: 10px; border: 2px solid darkblue; padding: 10px 17px 10px 17px;">Next Customer</button></a>
                </div>

            </div>

        {% endif %}

    </main> <!-- End #main -->
    <script>

        function customerMoney() {
            var totalPrice = document.getElementById("quantity_totalPrice").value;
            var customer_amount = document.getElementById("Customer_Money").value;
            var sum = parseInt(customer_amount) - parseInt(totalPrice);
            document.getElementById("price_left").innerHTML = sum;
        }

        var my_num = document.getElementById('number245').value;
        if (my_num == "1") {
            my_num = '2';
            setTimeout(function () {
                document.getElementById("container1").style.display = "none";
                document.getElementById("container2").style.display = "block";
                document.getElementById("barcodeInput1").focus();
                
            }, 3000);
        }
        document.getElementById('barcodeInput').addEventListener('input', function(event) {
            var barcodeValue = event.target.value.trim();
            if (barcodeValue !== '') {
                handleBarcodeInput(barcodeValue);
            }
        });
        var str = '';
        function handleBarcodeInput(barcodeValue) {
            console.log('Scanned barcode: ' + barcodeValue);
            
            str = str + barcodeValue;
            document.getElementById('output').textContent = 'Scanned barcode: ' + str;
            document.getElementById('barcodeInput').value = str;
            document.getElementById("myForm").submit();
            document.getElementById('barcodeInput').value = '';
        }
    </script>

{% endblock %}