<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fashion Landing Page</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
</head>
<body>

  <header>
    <div class="container nav">
      <div class="logo">FASHION</div>
      <nav>
    <button>Catalogue</button>
    <button>Fashion</button>
    <button>Favourite</button>
    <button>Lifestyle</button>
    <a href="/login/">
      <button class="sign-up"> Sign Up</button>
    </a>
      </nav>
    </div>
  </header>

  <section class="hero">
    <div class="hero-text">
      <h1>LET'S <br><span>EXPLORE</span> <br>
        <strong>UNIQUE</strong> <br> CLOTHES.</h1>
      <p>Live for influential and innovative fashion!</p>
      <button>Shop Now</button>
    </div>
    <div class="hero-img">
      <img src="../static/img/home/hero-woman.png" alt="Fashion Model">
    </div>
  </section>

  <!-- brand section -->
  <!-- <section class="brands">
    <div class="brand-logos">
      <img src="../static/img/home/hm.png" alt="H&M">
      <img src="../static/img/home/obey.png" alt="Obey">
      <img src="../static/img/home/shopify.png" alt="Shopify">
      <img src="../static/img/home/lacoste.png" alt = "Lacoste">
      <img src="../static/img/home/levis.png" alt="Levi's">
      <img src="../static/img/home/amazon.png" alt="Amazon">
    </div>
  </section> -->

  <section class="brand-logos-scroll">
      <div class="logos-track">
        <div class="logo-slide">
          <img src="../static/img/home/hm.png" alt="H&M">
          <img src="../static/img/home/obey.png" alt="Obey">
          <img src="../static/img/home/shopify.png" alt="Shopify">
          <img src="../static/img/home/lacoste.png" alt = "Lacoste">
          <img src="../static/img/home/levis.png" alt="Levi's">
          <img src="../static/img/home/amazon.png" alt="Amazon">
          <img src="../static/img/home/hm.png" alt="H&M">
          <img src="../static/img/home/obey.png" alt="Obey">
          <img src="../static/img/home/shopify.png" alt="Shopify">
          <img src="../static/img/home/lacoste.png" alt = "Lacoste">
          <img src="../static/img/home/levis.png" alt="Levi's">
          <img src="../static/img/home/amazon.png" alt="Amazon">
          <img src="../static/img/home/hm.png" alt="H&M">
          <img src="../static/img/home/obey.png" alt="Obey">
          <img src="../static/img/home/shopify.png" alt="Shopify">
          <img src="../static/img/home/lacoste.png" alt = "Lacoste">
          <img src="../static/img/home/levis.png" alt="Levi's">
          <img src="../static/img/home/amazon.png" alt="Amazon">
        </div>
      </div>
    </section>

 <!-- New Arrivals section-->
  <section class="new-arrivals">
    <h1>New Arrivals</h1>
    <div class="cards">
      <div class="card">
        <img src="../static/img/home/Hoodie.png" alt="Hoodie">
        <h3>Hoodies & Sweatshirts</h3>
        <p>Explore Now!</p>
      </div>
      <div class="card">
        <img src="../static/img/home/Coat.png" alt="Coat">
        <h3>Coats & Parkas</h3>
        <p>Explore Now!</p>
      </div>
      <div class="card">
        <img src="../static/img/home/tea.png" alt="Tee">
        <h3>Tees & T-Shirts</h3>
        <p>Explore Now!</p>
      </div>
    </div>
  </section>

  <section class="new-arrivals-2">
    <h2 class="arrivals-title">New <span>Arrivals</span></h2>
    <div class="arrivals-grid">
      <div class="arrival-card">
        <img src="../static/img/home/Hoodie.png" alt="Hoodie">
        <div class="arrival-info">
          <div>
            <h3>Hoodies & Sweetshirt</h3>
            <p><a href="/products-2/">Explore Now!</a></p>
          </div>
          <span class="arrow">→</span>
        </div>
      </div>

      <div class="arrival-card">
        <img src="../static/img/home/Coat.png" alt="Coat">
        <div class="arrival-info">
          <div>
            <h3>Coats & Parkas</h3>
            <p>Explore Now!</p>
          </div>
          <span class="arrow">→</span>
        </div>
      </div>

      <div class="arrival-card">
        <img src="../static/img/home/tea.png" alt="Tee">
        <div class="arrival-info">
          <div>
            <h3>Tees & T-Shirt</h3>
            <p>Explore Now!</p>
          </div>
          <span class="arrow">→</span>
        </div>
      </div>
    </div>
  </section>

  <!-- Payday -->
  <section class="payday">
    <img src="../static/img/home/payday-girl.png" alt="Payday Girl" class="payday-img">
    <div class="payday-text">
      <h2><span>PAYDAY</span><br>SALE NOW</h2>
      <p>
        Spend minimal $100 get 30% off voucher code for your next purchase<br>
        <strong>1 June – 10 June 2021</strong><br>
        *Terms & Conditions apply
      </p>
      <button>Shop Now</button>
    </div>
  </section>

  <!-- Young’s Favourite Starts ----------------------------------------->
    <!-- old Version below -->
  <!-- <section class="favourites container">
    <h2>Young’s Favourite</h2>
    <div class="young_cards">
      <div class="young_card">
        <img src="../static/img/home/Under.png" alt="Trending on Instagram">
        <p>Trending on Instagram</p>
      </div>
      <div class="young_card">
        <img src="../static/img/home/Trending.png" alt="All Under $40">
        <p>All Under $40</p>
      </div>
    </div>
  </section> -->

  <!-- New Version below -->
  <section class="favourite">
    <h2 class="favourite-title">Young’s <span>Favourite</span></h2>
    <div class="favourite-grid">
      <div class="fav-card">
        <img src="../static/img/home/Under.png" alt="Trending" />
        <div class="fav-info">
          <h3>Trending on instagram</h3>
          <p>Explore Now!</p>
        </div>
      </div>
      <div class="fav-card">
        <img src="../static/img/home/Trending.png" alt="Under 40" />
        <div class="fav-info right">
          <h3>All Under $40</h3>
          <p>Explore Now!</p>
        </div>
      </div>
    </div>
  </section>
  <!-- Young’s Favourite Ends -->


  <!-- 10 item -->
  <section class="products container">
    <h3>Our Products</h3>
    <p>Explore Our Products</p>
    <div class="product-grid">
      <!-- Repeat product blocks -->
      <div class="product-card">
        <div class="heart-btn">
          <i class="fas fa-heart"></i> <!-- Font Awesome Heart -->
        </div>
        <img src="../static/img/models/men/t-shirts/half-sleeve-t-shirts/polo-t-shirts/polo-t-shirts-1.png">
        <p>Kids Electric Car</p>
        <span>$100</span>
      </div>
      <div class="product-card">
        <div class="heart-btn">
          <i class="fas fa-heart"></i> <!-- Font Awesome Heart -->
        </div>
        <img src="../static/img/models/men/t-shirts/half-sleeve-t-shirts/round neck t-shirts/round neck t-shirts-1.png">
        <p>Men T-shirt</p>
        <span>$100</span>
      </div>
      <div class="product-card">
        <div class="heart-btn">
          <i class="fas fa-heart"></i> <!-- Font Awesome Heart -->
        </div>
        <img src="../static/img/models/women/crop-top/Model-1.png">
        <p>Kids Electric Car</p>
        <span>$100</span>
      </div>
      <div class="product-card">
        <div class="heart-btn">
          <i class="fas fa-heart"></i> <!-- Font Awesome Heart -->
        </div>
        <img src="../static/img/models/women/crop-top/Model-2.png">
        <p>Kids Electric Car</p>
        <span>$100</span>
      </div>
      <div class="product-card">
        <div class="heart-btn">
          <i class="fas fa-heart"></i> <!-- Font Awesome Heart -->
        </div>
        <img src="../static/img/models/women/suits/a-line-suits/a-line-suits-4.png">
        <p>Kids Electric Car</p>
        <span>$100</span>
      </div>
      <div class="product-card">
        <div class="heart-btn">
          <i class="fas fa-heart"></i> <!-- Font Awesome Heart -->
        </div>
        <img src="../static/img/models/women/suits/a-line-suits/a-line-suits-1.png">
        <p>Kids Electric Car</p>
        <span>$100</span>
      </div>
      <div class="product-card">
        <div class="heart-btn">
          <i class="fas fa-heart"></i> <!-- Font Awesome Heart -->
        </div>
        <img src="../static/img/models/women/crop-top/Model-10.png">
        <p>Kids Electric Car</p>
        <span>$100</span>
      </div>
      <div class="product-card">
        <div class="heart-btn">
          <i class="fas fa-heart"></i> <!-- Font Awesome Heart -->
        </div>
        <img src="../static/img/models/women/suits/a-line-suits/a-line-suits-3.png">
        <p>A-Line Suit</p>
        <span>$30</span>
      </div>
      <!-- Add other products -->
    </div>
    <button class="view-all">View All Products</button>
  </section>
<!-- email section -->
<section class="newsletter">
  <h2>JOIN SHOPPING COMMUNITY TO GET MONTHLY PROMO</h2>
  <p>Type your email down below and be young wild generation</p>
  <div class="email-container">
    <input type="email" placeholder="Add your email here">
    <button>SEND</button>
  </div>
</section>

<footer>
  <div class="footer-content">
    <div class="footer-branding">
      <h1 style="color: white;">FASHION</h1>
      <p>Complete your style with awesome clothes from us.</p>
      <div class="social-icons">
        <a href="#" class="social-icon">
          <img src="../static/img/home/social1.png" alt="Social Icon">
        </a>
        <a href="#" class="social-icon">
          <img src="../static/img/home/social2.png" alt="Social Icon">
        </a>
        <a href="#" class="social-icon">
          <img src="../static/img/home/social3.png" alt="Social Icon">
        </a>
        <a href="#" class="social-icon">
          <img src="../static/img/home/social4.png" alt="Social Icon">
        </a>
      </div>
    </div>
    
    <div class="footer-links">
      <div class="footer-column">
        <h4>Company</h4>
        <a href="#">About</a>
        <a href="#">Contact us</a>
        <a href="#">Support</a>
        <a href="#">Careers</a>
      </div>
      
      <div class="footer-column">
        <h4>Quick Link</h4>
        <a href="#">Share Location</a>
        <a href="#">Orders Tracking</a>
        <a href="#">Size Guide</a>
        <a href="#">FAQs</a>
      </div>
      
      <div class="footer-column">
        <h4>Legal</h4>
        <a href="#">Terms & conditions</a>
        <a href="#">Privacy Policy</a>
      </div>
    </div>
  </div>
</footer>
<script defer>
    const heartBtns = document.querySelectorAll('.heart-btn');
    const signUpBtn = document.querySelector('.sign-up'); // select the Sign Up button

    heartBtns.forEach(btn => {
        btn.addEventListener('click', () => {
            btn.classList.toggle('active');

            // Check if this button is now active
            if (btn.classList.contains('active')) {
                signUpBtn.style.backgroundColor = 'white';
                signUpBtn.style.color = 'black';
            } else {
                // Optional: Reset if no buttons are active
                const anyActive = document.querySelector('.heart-btn.active');
                if (!anyActive) {
                    signUpBtn.style.backgroundColor = 'black';
                    signUpBtn.style.color = 'white';
                }
            }
        });
    });

</script> 


</body>
</html>
