<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Inventory Management</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../static/img/logo.png" rel="icon">
  <link href="../static/img/logo.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../static/vendor/aos/aos.css" rel="stylesheet">
  <link href="../static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <!-- <link href="../static/css/main.css" rel="stylesheet"> -->

  <!-- =======================================================
  * Template Name: FlexStart
  * Template URL: https://bootstrapmade.com/flexstart-bootstrap-startup-template/
  * Updated: Jun 29 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
    <style>
        body {
            background-color: rgb(234, 235, 236);
        }
        .bg-image-vertical {

            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }

        /* @media (min-width: 1025px) {
            .h-custom-2 {
            height: 100%;
            }
        } */
    </style>
    <section class="">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-6 px-0 d-none d-sm-block">
            <img src="../static/img/login.webp" alt="Login image" style=" object-position: left; width: 90vw; height: 100vh;">
          </div>
          <div class="col-sm-4 text-black" style="margin-left: 200px; margin-top: 20px;">
            
            <div class="px-5 ms-xl-4">
              <img src="../static/img/logo.png" style="margin-bottom: 20px;" alt="error">
              <span class="h1 fw-bold mb-0">AiS</span>
            </div>
            
            <div class="d-flex align-items-center h-custom-1 mt-5 px-5 ms-xl-4 pt-5 pt-xl-0 mt-xl-n5">
            
              <form action="" method="POST" style="width: 23rem;">
                {% csrf_token %} 
                
                {% if messages %}
                  {% for mes in messages %}
                  <div class="alert-danger text-danger" id="msg" role="alert"></div>
                  <script>
                    const mytimes = setTimeout(function(){
                      document.getElementById("msg").innerHTML = '{{mes}}'
                    });
                  </script>
                  {% endfor %}
                {% endif %}

                <h3 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; font-size: 45px; font-weight: bolder; font-family: Arial, Helvetica, sans-serif;">Log in</h3>
                
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="email" id="form2Example18" name="email" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form2Example18">Email address</label>
                </div>
              
                <div data-mdb-input-init class="form-outline mb-4">
                  <input type="password" id="form2Example28" name="password" class="form-control form-control-lg" required/>
                  <label class="form-label" for="form2Example28">Password</label>
                </div>
              
                <div class="pt-1 mb-4">
                  <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
                </div>
                <p class="small mb-5 pb-lg-2" style="color: blue;"><a href="#!">Forgot password?</a></p>
              </form>
            
            </div>
          
          </div>

        </div>
      </div>
    </section>

</body>

</html>