{% extends 'base.html' %}

{% block contain %}
    <style>
        .add_products {
            width: 75vw; display: flex; justify-content: center; margin-bottom: 30px; margin-top: 20px;
        }
        .add_products button {
          display: flex; justify-content: center; text-align: center; align-items: center; padding: 3px 10px 6px 10px; border-radius: 10px; color: white; background-color: blue; border: 0px solid black;
        }
        .filter{
          display: flex; justify-content: end;
        }
        .head th {
            color: darkblue;
        }
    </style>

    <main id="main" class="main">
        
        <div class="add_products">
            <h1 style="color: blue;">Products Sold</h1>
        </div>
        <div class="filter col">
            <a class="icon" href="#" data-bs-toggle="dropdown" style="font-size: 20px; margin-right: 10px;"><i class="bi bi-three-dots"></i></a>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
              <li class="dropdown-header text-start">
                <h6>Filter</h6>
              </li>

              <li><a class="dropdown-item" href="#">Today</a></li>
              <li><a class="dropdown-item" href="#">This Month</a></li>
              <li><a class="dropdown-item" href="#">This Year</a></li>
            </ul>
          </div>
        </div>
        <table class="table table border border-info mt-3">
            <thead>
              <tr class="head">
                <th scope="col">Preview</th>
                <th scope="col">Product Name</th>
                <th scope="col">Expirty Date</th>
                <th scope="col">Cost Price</th>
                <th scope="col">Selling Price</th>
                <th scope="col">Date/Time</th>
              </tr>
            </thead>
            <tbody>
              {% for products in products_doc %}
                <tr>
                  <th scope="row"><img src="../assets/img/{{products.image}}" style="height: 7vh; width: 4vw;"></th>
                  <td>{{products.product_name}}</td>
                  <td>{{products.expiry_date}}</td>
                  <td>₹ {{products.cost_price}}</td>
                  <td>₹ {{products.selling_price}}</td>
                  <td>{{products.date_time}}</td>
                </tr>
              {% endfor %}
            </tbody>
        
        </table>
    </main> <!-- End #main -->

{% endblock %}